[Unit]
Description={{SERVICE_NAME}} .NET API
After=network.target

[Service]
WorkingDirectory=/opt/apps/{{SERVICE_NAME}}/current
ExecStart=/usr/bin/dotnet /opt/apps/{{SERVICE_NAME}}/current/{{DLL_NAME}}
Restart=always
RestartSec=3
SyslogIdentifier={{SERVICE_NAME}}
User={{USER}}
Environment=ASPNETCORE_URLS=http://127.0.0.1:{{PORT}}
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
